<table>
  <tr><th colspan="3"><a [routerLink]="['/']">
 <img src=" https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-e6w3hm/master/src/assets/EswatiniProplogocropped.png">
</a></th>
  </tr>
<tr>
  <td>
<a [routerLink]="['/cart']" class="button fancy-button">Checkout</a></td>
<td>
<a [routerLink]="['/free']" class="button fancy-button">Downloads</a></td>
<td>
<a [routerLink]="['/cart']" class="button fancy-button">Subscribe</a></td>
</tr>
</table>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->